body {
	font-family: Tahoma;
	color:#5B2C6F;
	background-image:url("../images/bg_image.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

/*  a:link, a:visited { original links
	background-color:#FFC300;
	color:#900C3F;
	font-size:18px;
	text-align:center;
	text-decoration:none;
	padding: 15px;
	border-radius:12px;
}

a:hover, a:active { 
	background-color:#900C3F;
	color:white;
} */

footer a:link, footer a:visited { /* reference links */
	color:#5B2C6F;
	text-decoration:underline;
}

footer a:hover, footer a:active { /* when hovered over */
	color:#FFC300;
	text-decoration:none;
}

header { /* site header */
	font-size:24px;
	text-align:center;
	width:auto;
	border:5px solid black;
	background-color:#fff9eb;
}

#link { /* for links */
	text-align:center;
	margin:50px;
}

#desc { /* for text paragraphs */
	font-size: 20px;
	text-align:center;
	width:auto;
	border:3px solid black;
	border-radius:8px; 
	padding:20px;
	margin:5px;
	overflow:auto;
	background-color:#fff9eb;
}

#desc2 { 
	font-size: 20px;
	text-align:center;
	width:20%;
	border:3px solid black;
	border-radius:8px; 
	padding:20px;
	margin:5px;
	overflow:auto;
	background-color:#fff9eb;
	float:left;
	position:relative;
}

#pic {
	float:left;
	margin:20px;
}

#pic2 { /* centered image */
	float:none;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

table {
	border-collapse:collapse;
	text-align:center;
	padding:20px;
	width:75%;
	height:245px;
	float:right;
	background-color:#fff9eb;
	margin-bottom:20px;
}

th, td {
	border:2px solid #900C3F;
}

iframe { /* for youtube video */
	display:block;
	margin:0 auto;
} 

nav ul { /* for nav bar */
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#FFEDDB;
	position:fixed;
	top:0;
	width:100%;
}

nav li {
	float:left;
}

nav li a {
	display:block;
	font-weight:bold;
	color:#5B2C6F;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

nav li a:hover:not(#active) {
	background-color:#900C3F;
	color:white;
}

#active {
	background-color:#DAF7A6;
}

#sprite { /* socmed links */
	position:fixed;
	width:10%;
	top:0;
	right:0;
}

#sprite li {
	margin:0;
	padding:0;
	list-style:none;
	position:absolute;
	top:0;
}

#sprite li, #sprite a {
	width:33px;
	height:33px;
	display:block;
}

#facebook {
	background:url('../images/spritesheet.png') no-repeat -10px -10px;
	left:0px;
	width:33px;
	height:33px;
}

#instagram {
	background:url('../images/spritesheet.png') no-repeat -63px -10px;
	left:43px;
	width:33px;
	height:33px;
}

#twitter {
	background:url('../images/spritesheet.png') no-repeat -116px -10px;
	left:86px;
	width:33px;
	height:33px;
}

#facebook a:hover {
	background:url('../images/spritesheet.png') no-repeat -10px -63px;
	width:33px;
	height:33px;
}

#instagram a:hover {
	background:url('../images/spritesheet.png') no-repeat -63px -63px;
	width:33px;
	height:33px;
}

#twitter a:hover {
	background:url('../images/spritesheet.png') no-repeat -116px -63px;
	width:33px;
	height:33px;
}

img:hover { /* scale */
	-ms-transform: scale(1.5, 1.5); /* IE 9 */
	-webkit-transform: scale(1.5, 1.5); /* Safari prior 9.0 */
	transform: scale(1.5, 1.5); /* Standard syntax */
}
